# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

sample-chat/Pods/Headers/Private/Quickblox
sample-chat/Pods/Headers/Public/Quickblox
sample-content/Pods/Headers/Private/Quickblox
sample-content/Pods/Headers/Public/Quickblox
sample-custom-objects/Pods/Headers/Private/Quickblox
sample-custom-objects/Pods/Headers/Public/Quickblox
sample-chat-swift/Pods/Headers/Public/Quickblox
sample-chat-swift/Pods/Headers/Private/Quickblox
sample-chat-swift/Pods/QuickBlox/Quickblox.framework
**/Build

