<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>login</key>
			<string>@dev1</string>
			<key>fullName</key>
			<string>Dev 1</string>
			<key>ID</key>
			<string>2308497</string>
		</dict>
        <dict>
            <key>login</key>
            <string>@dev2</string>
            <key>fullName</key>
            <string>Dev 2</string>
            <key>ID</key>
            <string>2308500</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev3</string>
            <key>fullName</key>
            <string>Dev 3</string>
            <key>ID</key>
            <string>2308501</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev4</string>
            <key>fullName</key>
            <string>Dev 4</string>
            <key>ID</key>
            <string>2308502</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev5</string>
            <key>fullName</key>
            <string>Dev 5</string>
            <key>ID</key>
            <string>2308506</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev6</string>
            <key>fullName</key>
            <string>Dev 6</string>
            <key>ID</key>
            <string>2308509</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev7</string>
            <key>fullName</key>
            <string>Dev 7</string>
            <key>ID</key>
            <string>2308510</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev8</string>
            <key>fullName</key>
            <string>Dev 8</string>
            <key>ID</key>
            <string>2308511</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev9</string>
            <key>fullName</key>
            <string>Dev 9</string>
            <key>ID</key>
            <string>2308512</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@dev10</string>
            <key>fullName</key>
            <string>Dev 10</string>
            <key>ID</key>
            <string>2308514</string>
        </dict>
	</array>
</dict>
</plist>
