<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>login</key>
			<string>@user1</string>
			<key>fullName</key>
			<string>User 1</string>
			<key>ID</key>
			<string>2077886</string>
		</dict>
        <dict>
            <key>login</key>
            <string>@user2</string>
            <key>fullName</key>
            <string>User 2</string>
            <key>ID</key>
            <string>2077894</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user3</string>
            <key>fullName</key>
            <string>User 3</string>
            <key>ID</key>
            <string>2077896</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user4</string>
            <key>fullName</key>
            <string>User 4</string>
            <key>ID</key>
            <string>2077897</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user5</string>
            <key>fullName</key>
            <string>User 5</string>
            <key>ID</key>
            <string>2077900</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user6</string>
            <key>fullName</key>
            <string>User 6</string>
            <key>ID</key>
            <string>2077901</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user7</string>
            <key>fullName</key>
            <string>User 7</string>
            <key>ID</key>
            <string>2077902</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user8</string>
            <key>fullName</key>
            <string>User 8</string>
            <key>ID</key>
            <string>2077904</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user9</string>
            <key>fullName</key>
            <string>User 9</string>
            <key>ID</key>
            <string>2077906</string>
        </dict>
        <dict>
            <key>login</key>
            <string>@user10</string>
            <key>fullName</key>
            <string>User 10</string>
            <key>ID</key>
            <string>2077907</string>
        </dict>
	</array>
</dict>
</plist>
