<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>login</key>
			<string>webrtc_user1</string>
			<key>fullName</key>
			<string>User 1</string>
			<key>ID</key>
			<string>2436251</string>
		</dict>
        <dict>
            <key>login</key>
            <string>webrtc_user2</string>
            <key>fullName</key>
            <string>User 2</string>
            <key>ID</key>
            <string>2436254</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user3</string>
            <key>fullName</key>
            <string>User 3</string>
            <key>ID</key>
            <string>2436257</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user4</string>
            <key>fullName</key>
            <string>User 4</string>
            <key>ID</key>
            <string>2436258</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user5</string>
            <key>fullName</key>
            <string>User 5</string>
            <key>ID</key>
            <string>2436259</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user6</string>
            <key>fullName</key>
            <string>User 6</string>
            <key>ID</key>
            <string>2436262</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user7</string>
            <key>fullName</key>
            <string>User 7</string>
            <key>ID</key>
            <string>2436263</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user8</string>
            <key>fullName</key>
            <string>User 8</string>
            <key>ID</key>
            <string>2436265</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user9</string>
            <key>fullName</key>
            <string>User 9</string>
            <key>ID</key>
            <string>2436266</string>
        </dict>
        <dict>
            <key>login</key>
            <string>webrtc_user10</string>
            <key>fullName</key>
            <string>User 10</string>
            <key>ID</key>
            <string>2436269</string>
        </dict>
	</array>
</dict>
</plist>
