<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>password</key>
			<string>androidUser1</string>
			<key>login</key>
			<string>androidUser1</string>
			<key>fullName</key>
			<string>androidUser1</string>
			<key>ID</key>
			<string>2327456</string>
		</dict>
		<dict>
			<key>password</key>
			<string>androidUser2</string>
			<key>login</key>
			<string>androidUser2</string>
			<key>fullName</key>
			<string>androidUser2</string>
			<key>ID</key>
			<string>2344849</string>
		</dict>
	</array>
</dict>
</plist>
