<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Taking pictures, video calls</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app wants to record sound.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app wants to save pictures &amp; videos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app wants to use your picture &amp; video library.</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
